/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Variables */
:root {
    --bg-body: #1f212c;
    --primary-color: #2c5bff;
    --fontSize-title: 50px;
    --fontSize-parrafos: 30px;
}

/* Estilo para títulos y listas */
h1, h2, h3, h4, h5, a, li, ul {
    font-family: "Notable", sans-serif;
}

/* Estilo para párrafos, celdas, inputs y etiquetas */
p, td, input, label {
    font-family: "Roboto", sans-serif;
}

/* Estilo para el cuerpo */
body {
    background: var(--bg-body);
}

/* Estilo para evitar scroll horizontal */
body, section {
    overflow-x: hidden;
}

/* Estilo para el encabezado */
header {
    padding-top: 180px;
    background: #1e2b40;
}

/* Estilo para la barra de navegación */
nav.bg-por {
    position: fixed;
    background: transparent;
    width: 100%;
    z-index: 999;
    margin-top: 10px; 
    top: 0;
}

/* Estilo para el logotipo de la barra de navegación */
nav .navbar-brand img {
    width: 100px;
}

/* Estilo para el ícono del botón de navegación */
nav .navbar-toggler-icon {
    background: var(--primary-color);
}

/* Estilo para los elementos de la lista de navegación */
nav.bg-por ul li {
    margin-top: 14px;
    margin-left: 50px;
}

nav.bg-por ul li a {
    color: #fff;
    font-size: 20px;
    margin: 0 12px;
    font-weight: 500;
    position: relative; 
}

nav.bg-por ul li a::after {
    width: 20%;
    height: 2px;
    background: transparent;
    content: "";
    position: absolute;
    bottom: 2px;
    left: 10px;
    transition: .4s;
}

nav.bg-por ul li a:hover {
    color: var(--primary-color);
}

nav.bg-por ul li a:hover::after {
    background: var(--primary-color);
    width: 40%;
}

/* Estilo para el contenido del héro */
#hero {
    padding: 10px 0;
    background: #1e2b40; 
    height: 100vh;
}

/* Estilo para la imagen del héro */
#hero .cont-foto img {
    position: absolute;
    width: 40%;
    right: 5%; 
}

/* Estilo para la información del héro */
#hero .cont-info {
    padding-top: 15px;
    padding-left: 10%;
    padding-right: 10%; 
}

#hero .cont-info h1 {
    color: #fff;
    font-size: var(--fontSize-title);
    margin-bottom: 20px; 
}

#hero .cont-info p {
    color: #c6c6c6;
    font-size: var(--fontSize-parrafos);
    margin-bottom: 20px; 
}

#hero .cont-info button {
    background-color: #69818D;
    border: 1px solid transparent;
    border-radius: 10px;
    height: 80px;
    width: 150px;
    margin-top: 20px; 
    margin-bottom: 50px; 
}

/* Estilo para el perfil */
#perfil {
    padding: 180px 0 100px; 
    background: #69818D;
    text-align: center; 
}

#perfil h2 {
    color: #fff;
    font-size: var(--fontSize-title);
    margin-bottom: 50px;
}

.pro,
.escribirse {
    animation: escribir 20s steps(17, end);
    white-space: nowrap;
    overflow: hidden;
}

@keyframes escribir {
    from {
        width: 0;
        opacity: 0;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}

#perfil p {
    color: #fff;
    font-size: var(--fontSize-parrafos);
    margin-bottom: 50px;
}

#perfil .proyectos {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    margin-top: 50px; 
}

#perfil .proyectos h1 {
    color: #fff;
    font-size: var(--fontSize-title);
    margin-bottom: 25px;
}

#perfil .card-services {
    background: #292c36;
    border-radius: 4px;
    padding: 20px;
    text-align: left;
    transition: .4s;
    max-width: 280px;
}

#perfil .card-services:hover {
    background: var(--primary-color);
}

#perfil .card-services img {
    border-radius: 4px;
    margin-bottom: 15px;
}

#perfil .card-services h3 {
    color: #fff;
    font-size: var(--fontSize-title);
    margin-bottom: 10px;
}

#perfil .card-services h4 {
    color: #fff;
    font-size: var(--fontSize-title);
    margin-bottom: 5px;
}

#perfil .card-services p {
    color: #c6c6c6;
    font-size: var(--fontSize-parrafos);
    line-height: 1.5;
    margin-bottom: 10px;
}

#perfil .card-services a {
    color: #c6c6c6;
    text-decoration: none;
    border-bottom: 2px solid #c6c6c6;
}

#perfil .card-services a:hover {
    color: #fff;
    border-color: #fff;
}

/* Clases destacadas */
#cdestacadas {
    padding: 0 80px; 
    text-align: center; 
}

#cdestacadas h1 {
    color: #fff;
    font-size: var(--fontSize-title);
    margin-bottom: 50px;
}

.mas {
    animation: escribir 5s steps(1000, end);
    white-space: nowrap;
    overflow: hidden;
}

#cdestacadas h2::after {
    width: 70%;
    height: 2px;
    background: #292c36;
    content: "";
    display: block;
    margin: 20px auto;
}

#cdestacadas .card-destacadas {
    background: #292c36;
    border-radius: 4px;
    overflow: hidden;
}

#cdestacadas .card-destacadas img {
    width: 100%;
}

#cdestacadas .card-destacadas .cont-info {
    background: #292c36;
    padding: 14px;
    border-radius: 0 0 4px 4px;
    transition: .4s;
}

#cdestacadas .card-destacadas:hover .cont-info {
    background: var(--primary-color);
}

#cdestacadas .cont-info h3,
#cdestacadas .cont-info p {
    color: #fff;
    margin-bottom: 10px;
}

/* Skills */
#skills {
    padding: 190px 0 100px; 
    background: #1e2b40; 
    text-align: center; 
}

#skills .info h1 {
    color: #fff;
    font-size: var(--fontSize-title);
    margin-bottom: 20px;
}

#skills .info p {
    color: #fff;
    font-size: var(--fontSize-parrafos);
    margin-bottom: 50px;
}

#skills .plan .accordion {
    margin-top: 60px;
}

#skills .plan .accordion-item,
#skills .plan .accordion-item button {
    background: transparent;
}

#skills .plan .accordion-item {
    border-radius: 30px;
    border: 1px solid #fff;
    margin-bottom: 20px;
}

#skills .plan h1 {
    color: #fff;
    font-size: var(--fontSize-title);
    margin-bottom: 25px;
}

#skills .plan h2 {
    color: #fff;
    font-size: var(--fontSize-title);
}

#skills .plan .accordion-item button {
    color: #fff;
    padding: 20px;
    border-radius: 30px;
    font-size: 20px;
    background: #69818D; 
}

#skills .plan .accordion-item button.accordion-button.collapsed {
    background: transparent;
}

#skills .plan .accordion-item .accordion-body {
    color: #fff;
    font-size: var(--fontSize-parrafos);
    text-align: left;
}

/* Footer */
footer {
    background-color: #69818D;
    padding: 20px;
}

.social,
.contacto {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}

.social-item,
.contacto-item {
    display: flex;
    align-items: center;
}

.social img,
.contacto img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.social p,
.contacto p {
    margin: 0;
    margin-bottom: 20px;
    color: #fff;
    font-family: var(--fontSize-parrafos);
    font-weight: 700;
}

.redes h2,
.contacto h2 {
    margin-bottom: 20px;
    font-weight: 999;
    font-family: var(--fontSize-title);
    color: #fff;
}

.social {
    flex-grow: 1;
}

.redes {
    margin-right: auto;
}

.contacto {
    margin-left: auto;
}

/* Proyectos */
.slick-prev,
.slick-next {
    width: 40px;
    height: 40px;
    font-size: 1px;
    color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
}

.slick-prev {
    left: -60px;
    background: url(../img/circulo-de-flecha.png) center/cover;
}

.slick-next {
    right: -80px;
    background: url(../img/circulo-de-flecha.png) center/cover;
    transform: scaleX(-1);
}
@media screen and (min-width:320px) and (max-width: 767px) { 
    .navbar>.container{
        background: #000;
    }
    .navbar-nav {
        background: #000;
    }
    nav .navbar-brand img {
        width: 50px}
    nav.bg-por ul li a {
        font-size: 15px;
    }
    #hero .cont-foto img {
        margin-right: 25%;
    }
    #hero .cont-info{
        padding-top: 40%;
    }
    #hero .cont-info h1 {
        text-align: center;
        font-size: 25px;
    }
    #hero .cont-info p{
        font-size: 20px;
        text-align: center;
    }
    #hero .cont-info button {
        margin-left: 30%;
    }
    #perfil h2{
        font-size: 25px;
    }
    #perfil p,
    #perfil.escribirse{
        margin-right: 50px;
        width: 100%;
        font-size: 20px;
        padding: 0 10px;
    }
    #perfil .proyectos h1 {
        font-size: 25px;
    }
    #skills .info h1 {
        font-size: 25px;
    }
    p, td, input, label {
        font-size: 25px;
    }
    .social p, .contacto p {
        font-size: 25px;
    }
}